# 1 - Imports

In [1]:
import pandas as pd

In [43]:
pd.set_option('display.max_rows', None)

## 1.1 - Funções

## 1.2 - Importando os dados

In [2]:
df = pd.read_csv('kc_house_data.csv')

In [44]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# 2 - Descrição dos dados

In [57]:
df2 = df.copy()

In [59]:
print(f'Quantidade de linhas: {df2.shape[0]}')
print(f'Quantidade de colunas: {df2.shape[1]}')

Quantidade de linhas: 21613
Quantidade de colunas: 21

## 2.1 - Dados nulos

In [5]:
df2.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

## 2.2 - Tipo dos dados

In [62]:
df2['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

df2.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

## 2.3 - Análise Descritiva

### 2.3.1 - Análise Numérica

In [79]:
num = df2.drop('date', axis=1)
num.describe().apply(lambda x: x.apply('{0:.3f}'.format)).T

,count,mean,std,min,25%,50%,75%,max
id,21613.000,4580301520.865,2876565571.312,1000102.000,2123049194.000,3904930410.000,7308900445.000,9900000190.000
price,21613.000,540088.142,367127.196,75000.000,321950.000,450000.000,645000.000,7700000.000
bedrooms,21613.000,3.371,0.930,0.000,3.000,3.000,4.000,33.000
bathrooms,21613.000,2.115,0.770,0.000,1.750,2.250,2.500,8.000
sqft_living,21613.000,2079.900,918.441,290.000,1427.000,1910.000,2550.000,13540.000
sqft_lot,21613.000,15106.968,41420.512,520.000,5040.000,7618.000,10688.000,1651359.000
floors,21613.000,1.494,0.540,1.000,1.000,1.500,2.000,3.500
waterfront,21613.000,0.008,0.087,0.000,0.000,0.000,0.000,1.000
view,21613.000,0.234,0.766,0.000,0.000,0.000,0.000,4.000
condition,21613.000,3.409,0.651,1.000,3.000,3.000,4.000,5.000
grade,21613.000,7.657,1.175,1.000,7.000,7.000,8.000,13.000
sqft_above,21613.000,1788.391,828.091,290.000,1190.000,1560.000,2210.000,9410.000
sqft_basement,21613.000,291.509,442.575,0.000,0.000,0.000,560.000,4820.000
yr_built,21613.000,1971.005,29.373,1900.000,1951.000,1975.000,1997.000,2015.000
yr_renovated,21613.000,84.402,401.679,0.000,0.000,0.000,0.000,2015.000
zipcode,21613.000,98077.940,53.505,98001.000,98033.000,98065.000,98118.000,98199.000
lat,21613.000,47.560,0.139,47.156,47.471,47.572,47.678,47.778
long,21613.000,-122.214,0.141,-122.519,-122.328,-122.230,-122.125,-121.315
sqft_living15,21613.000,1986.552,685.391,399.000,1490.000,1840.000,2360.000,6210.000
sqft_lot15,21613.000,12768.456,27304.180,651.000,5100.000,7620.000,10083.000,871200.000